<a href="#top"><img src="<%= image_path('scrollupicon_n.svg')%>" id="up-arrow"></a>
<div id="main-photo">
  <h1>Cilo是經驗更是一種傳承</h1>
  <h3>超過100位來自美、日、英的學長姐，一對一的經驗分享，手把手的夢想實踐。</h3>
  <div class="index-search-div">
    <input type="search" class="index-search-bar" placeholder="您想在哪裡學習？" />

    <div class="search-bar-element search-icon"><img src="assets/btn_search.svg"></div>
  </div>
</div>


<div class="video-container">
  <iframe src="https://www.youtube.com/embed/WmR8tc_Xw7s" frameborder="0" allowfullscreen id="index-video"></iframe>
</div>

<div class="sharings-div">

  <h1>精選分享</h1>
  <div class="popular-courses">
    <div class="card">
      <div class="image">
        <img src="assets/05.jpeg">
      </div>
      <div class="content">
        <span class="title">英倫搖滾概論與教學</span>
        <p>英國的搖滾, 很不一樣, 有別於美式的野獸吶喊,
            基本上英國走的是較為柔情的抒情風格, 在英國的那些日子,
            我學會了如何用音樂與自己對話, 現在, 讓我們開啟另一段對話.</p>
      </div>
      <div class="action">
        <img src="assets/icon_heart.svg" class="heart-icon"> 85
        <img src="assets/btn_favorite_n.svg" class="star-icon">
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="assets/Wanderlust.jpeg">
      </div>
      <div class="content">
        <span class="title">英倫風穿搭訣竅分享</span>
        <p>在英國的七年讓我從一個不折不扣的台客,
          不敢說是變成一個英倫穿搭高手, 但對英國風格也是略知一二,
          給我們彼此一個面對面聊天的機會,  讓我幫助你成為英倫雅痞紳士.</p>
      </div>
      <div class="action">
        <img src="assets/icon_heart.svg" class="heart-icon"> 73
        <img src="assets/btn_favorite_n.svg" class="star-icon">
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="assets/C01.jpg">
      </div>
      <div class="content">
        <span class="title">京都深度體驗旅行</span>
        <p>台南出生，台北生根，
        大學畢業後赴京都留學約三年半，
        對日本的感覺從
        喜歡->害怕->有點喜歡->討厭->非常討厭->重新適應->喜歡->喜歡到想待一輩子
        待在京都的日子...</p>
      </div>
      <div class="action">
        <img src="assets/icon_heart.svg" class="heart-icon"> 96
        <img src="assets/btn_favorite_n.svg" class="star-icon">
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="assets/Dapper.jpeg">
      </div>
      <div class="content">
        <span class="title">管理, 是一種生活態度</span>
        <p>國外的月亮, 不一定比較圓, 但我們也不該閉門造車,
        不求進步, 不得不承認的是, 國外在管理方面, 確實有他的一套,
        什麼叫管理? 管理不只存在公司中, 管理在生活中隨處可見....</p>
      </div>
      <div class="action">
        <img src="assets/icon_heart.svg" class="heart-icon"> 80
        <img src="assets/btn_favorite_n.svg" class="star-icon">
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="assets/03.jpg">
      </div>
      <div class="content">
        <span class="title">英國藝術學院介紹</span>
        <p>我知道, 到英國讀設計是妳們的夢想, 當年我也是懷抱這樣的憧憬到了英國, 很幸運地, 我莽撞地用很沒效率的方式去try, 雖然還真的被我傻裡傻氣的試成功了...</p>
      </div>
      <div class="action">
        <img src="assets/icon_heart.svg" class="heart-icon"> 78
        <img src="assets/btn_favorite_n.svg" class="star-icon">
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="assets/02.jpg">
      </div>
      <div class="content">
        <span class="title">澳洲打工生活體驗</span>
        <p>是否曾想像在澳大利亞一望無際的大草原上隨著袋鼠一塊奔跑?
            或是在典雅卻又帶點casual的氣氛下遨遊這座號稱最適合居住人的城市?
            想要達成這一切夢想...</p>
      </div>
      <div class="action">
        <img src="assets/icon_heart.svg" class="heart-icon"> 101
        <img src="assets/btn_favorite_n.svg" class="star-icon">
      </div>
    </div>

  </div>

  <button id="learn-more-btn">更多精彩分享</button>

</div>

<div class="become-expert">
  <h1>成為專家</h1>
  <div class="ads">
    <div class="individual-ads">
      <img src="assets/btn_education.svg" class="ad-icons">
      <div class="ad-text">在與學弟妹們分享過去經驗的同時，重新省視自己過去的人生經驗，從談話中思考並整理自己的學習路上可以加強或是不足的部分。</div>
    </div>
    <div class="individual-ads">
      <img src="assets/btn_piggy.svg" class="ad-icons">
      <div class="ad-text">在留學的過程中一定有許多不可避免的花費，不管是想減輕父母壓力，還是不想花太多時間於打工想更專注於學業，Cilo都可以幫助您發揮您的經驗價值增加收入。</div>
    </div>
    <div class="individual-ads">
      <img src="assets/btn_friendship.svg" class="ad-icons">
      <div class="ad-text">藉由與後輩們分享經驗，認識來自各地有著不同背景的人，一個不經意的邂逅，都可能是人生中關鍵人物，快來藉由Cilo拓展自己的人脈吧！</div>
    </div>
  </div>

  <button id="become-expert-btn">立即申請</button>

</div>

<div class="subscribe">
  <h1>關注Cilo</h1>
  <h3>Cilo致力於服務留學生或即將成為留學生的你，我們將不斷擴大服務的地區與項目，請留下您的聯絡方式，我們會定期寄發更新內容給您。</h3>
  <div id="newsletter">
    <form action="" method="get">
      Newsletter <input type="text" name="fname" value="Email Address">
      <input type="submit" value="subscribe+">
    </form>
  </div>
  <div class="credits">
    <div class="social">
      <h3 class="creds">©2015 After Ninety Inc.</h3>

      <img src="assets/btn_facebook.svg" class="social-icons">
      <img src="assets/btn_twitter.svg" class="social-icons">
      <img src="assets/btn_linkin.svg" class="social-icons">
      <img src="assets/btn_google.svg" class="social-icons">
    </div>
  </div>
</div>

